<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" align="center">
      <h1><%= "Armstrong numbers with #{@n} digits" %></h1>
      <% if @result.empty? %>
        <div class="alert alert-danger" role="alert"><%= "There are't armstrong numbers with #{@n} digits" %></div>
      <% else %>
        <table class="table table-bordered table-hover bg-white">
          <thead class="thead-dark">
          <tr>
            <th>№</th>
            <th >Armstrong number</th>
          </tr>
          </thead>
          <tbody>
          <% @result.each_with_index do |num, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= num %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
      <%= content_tag 'a', 'Go back', role: 'button', class: 'btn btn-primary', href: armstrong_path %>
    </div>
  </div>
</div>

