// Place all the styles related to the Armstrong controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  text-align: center;
}
form .btn {
  margin: 70px !important;
}