<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand/logo -->
    <%= content_tag :a, 'Armstrong', class: 'navbar-brand', href: root_path %>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= content_tag :a, 'Calculate', class: 'nav-link', href: armstrong_path %>
      </li>
      <li class="nav-item">
        <%= content_tag :a, 'DataBase inspect', class: 'nav-link', href: armstrong_inspect_db_path(format: :json) %>
      </li>
    </ul>
  </nav>
</header>