<!DOCTYPE html>
<html>
<head>
  <title>Lr11</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



</head>

<body class="bg-light">
<%= render 'layouts/header' %>
<main class="container" role="main">
  <%= yield %>
</main>
<%= render 'layouts/footer' %>
</body>
</html>
